body {
	background-color: #FFFFFF;
}
body, td, th, table, input, textarea, a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}
a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: underline;
}
/*
a img.Screenshot {
	border: 1px solid #1084D1;
	width: 320px;
	height: 200px;
}
a:hover img.Screenshot {
	border: 1px solid #F1FCFF;
	width: 320px;
	height: 200px; 
}
*/
a.GameWinRight {
	border-right: 3px solid #CCFFCC;
	padding: 0px 3px 0px 0px;
}

a.GameWinLeft {
	border-left: 3px solid #CCFFCC;
	padding: 0px 0px 0px 3px;
}

a.GameDefeatRight {
	border-right: 3px solid #FFCCCC;
	padding: 0px 3px 0px 0px;
}

a.GameDefeatLeft {
	border-left: 3px solid #FFCCCC;
	padding: 0px 0px 0px 3px;
}

h1 {
	font-size: 18px;
	color: #000000;
	margin: 10px 0px 5px 0px;
}
h2 {
	font-size: 16px;
	color: #111111;
	margin: 10px 0px 5px 0px;
}
h3 {	
	font-size: 14px;
	color: #222222;
	margin: 10px 0px 5px 0px;
}
h4 {
	font-size: 12px;
	color: #333333;
	margin: 10px 0px 5px 0px;
}
div.adm {
	border: 1px solid #FFCCCC;
	background-color: #FFEEEE;
	padding: 5px 10px 5px 10px;
	margin: 10px 0px 10px 0px;
}
table {
 padding: 0px;
}
table.wide {
	width: 760px;
	margin: 5px 0px 5px 0px;
	border: 1px solid #DEDEDE;
}
table.small {
	width: 350px;
	margin: 5px 0px 5px 0px;
	border: 1px solid #DEDEDE;
}
table.claninfo {
	margin: 5px 0px 5px 0px;
	border: 1px solid #DEDEDE;
}
table.stats {
	width: 390px;
	margin: 5px 0px 5px 0px;
	border: 1px solid #DEDEDE;
}
tr.ListHeader td {
	font-weight: bold;
	font-size: 12px;
	border: 1px solid #FFFFFF;
	background-color: #DEDEDE;
	padding: 1px 2px 1px 3px;
}
tr.List1 td {
	border: 1px solid #FFFFFF;
	background-color: #EFEFEF;
	padding: 0px 2px 0px 3px;
}
tr.List2 td {
	border: 1px solid #FFFFFF;
	background-color: #FEFEFE;
	padding: 0px 2px 0px 3px;
}
tr.List1 td.EqualPoints, tr.List2 td.EqualPoints {
/*	background-color:#DDFFDD; */
	border-bottom: 1px solid #CCFFCC;
}
tr.List1 td.GameWin, tr.List2 td.GameWin {
	background-color: #CCFFCC;
}
tr.List1 td.GameDefeat, tr.List2 td.GameDefeat {
	background-color: #FFCCCC;
}

table.Abbr {
	width: 760px;
	border: 1px solid #DEDEDE;
	margin: 10px 0px 10px 0px;
}
table.Abbr2 {
	width: 390px;
	border: 1px solid #DEDEDE;
	margin: 10px 0px 10px 0px;
}

table.Abbr td, table.Abbr2 td {
	font-size: 9px;
	font-weight: normal;
	background-color: #EFEFEF;
	border: 1px solid #FFFFFF;
	padding: 3px 5px 3px 5px;
}
/* Item is for news, Item2 is for Rules it has no subheader and end*/
table.Item, table.Item2 {
	border: 1px solid #1084D1;
	width: 760px;
	padding: 0px;
	margin: 5px 0px 5px 0px;
}
table.Item td.ItemHeader, table.Item2 td.ItemHeader {
	font-size: 12px;
	font-weight: bold;
	background-color: #B3EDFF;
	border: 1px solid #FFFFFF;
	padding: 3px 5px 3px 5px;
}
table.Item td.ItemSubHeader {
	text-align: right;
	background-color: #D5F5FF;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	padding: 1px 5px 2px 5px;
}
table.Item td.ItemBody {
	background-color: #FEFEFE;
	padding: 5px 20px 5px 20px;
}
table.Item td.ItemEnd {
	background-color: #F1FCFF;
	border: 1px solid #FFFFFF;
	padding: 2px 5px 2px 5px;
}

table.Item2 td.ItemBody {
	background-color: #FEFEFE;
	padding: 5px;
}

table.ItemComment {
	border: 1px solid #DEDEDE;
	width: 390px;
	padding: 0px;
	margin: 5px 0px 5px 0px;
}
table.ItemComment td.ItemHeaderLeft {
	font-size: 12px;
	font-weight: bold;
	background-color: #EDEDED;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	padding: 1px 5px 1px 5px;
}
table.ItemComment td.ItemHeaderRight {
	font-size: 9px;
	font-style: italic;
	text-align: right;
	background-color: #EDEDED;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding: 1px 5px 1px 5px;
}
table.ItemComment td.ItemBody {
	background-color: #FEFEFE;
	padding: 3px 5px 3px 5px;
}
div.ItemComment {
	overflow: auto;
	padding: 0px;
	margin: 0px;
}

input.ItemForm, textarea.ItemForm {
	width: 350px;
	margin: 4px 2px 4px 2px;
}

fieldset.Map {
	background-color: #F1FCFF;
	border: 1px solid #1084D1;
	text-align: center;
	width: 350px;
	padding: 10px 0px 20px 0px;
	margin: 10px 20px 10px 0px;
}
fieldset.Report {
	background-color: #F1FCFF;
	border: 1px solid #1084D1;
	text-align: justify;
	width: 350px;
	padding: 5px 10px 10px 10px;
	margin: 10px 20px 10px 0px;
}
.MapWinner {
	font-weight: bold;
}

/* SMARTY MODIFIER PLUGIN */

ul.bb-list-unordered { }
ol.bb-list-ordered { }
ol.bb-list-ordered-d  { list-style-type: decimal; }
ol.bb-list-ordered-lr { list-style-type: lower-roman; }
ol.bb-list-ordered-ur { list-style-type: upper-roman; }
ol.bb-list-ordered-la { list-style-type: lower-alpha; }
ol.bb-list-ordered-ua { list-style-type: upper-alpha; }

li.bb-listitem { }

.bb-code { 
  border: 1px solid black;
  padding: 5px;
  font-family: Courier;
  white-space: nowrap;
}
.bb-php {
  border: 1px solid black;
  padding: 5px;
  font-family: Courier;
  white-space: nowrap;
}

.bb-quote-header {
	font-weight: bold;
	margin-left: 2px;
	margin-right: 2px;
}
.bb-quote {
  border: 1px dashed #CCCCCC;
  background-color: #EFEFEF;
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

.bb-email { }
.bb-url { }

.bb-image {
  border-width: 0;
  border-style: none;
}